body {
	font-family: sans-serif;
	
}
.listImage {
	width: 150px;
}
main {
	background-color:wheat;
	text-align: center;
	display: flex;
	flex-direction: column;
}
.homeArticle {
	display: block;
	border: 0.1rem solid black;
	width: 20%;
	margin: 0.5rem auto;
	background-color: white;
	padding: 1rem;
}
.productSection {
	display: block;
	text-align: center;
	width: 50%;
	border: 0.1rem solid black;
	padding: 1rem;
	background-color: white;
	margin: 3rem auto;
}
.productImage {
	width: 300px;
}
.link{
	text-decoration: none;
}